@import "tailwindcss";
*{
  font-family: "Noto sans KR";
  letter-spacing: -1px;
}
main{
  margin: auto;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  line-height: 1.2;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}

.text-sm {
  color: #555;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1rem !important;
}
.mySwiper2-wrap .swiper-button-prev, .mySwiper2-wrap .swiper-button-next {
  color: #000 !important;
  border: 1px solid #bbb;
  border-radius: 100%;
  width: 40px !important;
  height: 40px !important;
}
.mySwiper2-wrap .swiper-button-prev{
  left: -5% !important;
}
.mySwiper2-wrap .swiper-button-next{
  right: 29.5% !important;
}

@media (min-width: 1281px) {
  main{
    width: 1280px;
  }
}
@media (max-width: 1280px) {
  main{
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 768px) {
  *{
    font-size: 0.95rem;
  }
  h1,h1 span{
    font-size: 2.4rem;
  }
  h2{
    font-size: 1.6rem;
  }
  h3{
    font-size: 1rem;
  }
  main{
    margin: 3rem auto 5.5rem;
  }
  .text-overflow {
    -webkit-line-clamp: 8;
  }
}

@media (max-width: 375px){
  h1,h1 span{
    font-size: 2rem;
  }
  h2{
    font-size: 1.3rem;
  }
  h3{
    font-size: 1rem;
  }
}
